.banner {
    height: 500px;
    background-position: center ;
    background-attachment:inherit;
    h1 {
        margin-left: 20px;
        font-size: 30px;
    }
    h2 {
        margin-left: 20px;
    }
    i {
        margin-left: 20px;
        color: #fff;
        margin-top: 5px;
        font-size: 20px;
    }
}
