.banner {
    height: 500px;
    background-position: center ;
    background-attachment:inherit;
    h1 {
        margin-left: 20px;
        font-size: 30px;
    }
    h2 {
        margin-left: 20px;
    }
    i {
        margin-left: 18px;
        color: #fff;
        margin-top: 0;
        font-size: 20px;
        animation: arrowDown 1s linear infinite;
    }
}
@keyframes arrowDown {
    from {
        opacity: 1;
        transform: translateY(-5px);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}